*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #b91450;
}

.d-none{
    display: none;
}

.d-inl-blk {
    display: inline-block;
}

h2 {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 2rem;
    text-align: center;
}

/* INPUT FORM CONTAINER */
div.form-container {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 1rem 0;
    text-align: center;
    width: 70%;
    margin: 0 auto;
}

div.container > h2 {
    margin: 1.5rem 0;
}

div.form {
    display: inline-block;
    text-align: center;
}

div.form label {
    color: #b91450;
    font-weight: 600;
}

div.form input, select {
    display: block;
    text-align: center;
    margin: 1rem 1.5rem 2rem 1.5rem;
    border-radius: 5px;
}

div.form-btn {
    display: block;
}

div.form-btn button {
    font-size: 1rem;
    font-weight: 600;
    color: #b91450;
    background-color: #cccccc;
    border-radius: 5px;
    margin: 0 .5rem;
}

/* OUTPUT CONTAINER */
div.ticket-container > h2 {
    margin-top: 1.5rem;
}

div.ticket-details-container {
    background-color: #ffffff;
    width: 70%;
    margin: 0 auto;
    padding: 1rem;
}

span.passenger-details {
    text-transform: uppercase;
    font-weight: 600;
}

div.ticket-wrapper {
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    border-left: 1px solid #000000;
}

div.passenger-name-wrapper {
    background-color: #808080;
    padding: .5rem;
}

p.passenger-name {
    text-transform: uppercase;
    font-weight: 600;
}